body{
    background:#f1f1f1; 
    padding-bottom:120px;
}
.jumbotron{
    background: linear-gradient(135deg, #1da1f2, #981ceb);
}
#main {
    color:#fff;
}

.error {
    color:#F00;
}

.success {
    color:#3ebc3e;
}

#options-container i, #options-container input {
    vertical-align:middle;
}